<form (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
      Username
    </label>
    <input [(ngModel)]="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Username">
    <div *ngIf="emailError" class="text-red-500 text-xs italic">
      Por favor ingrese un usuario válido.
    </div>
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
      Contraseña
    </label>
    <input [(ngModel)]="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********">
    <div *ngIf="passwordError" class="text-red-500 text-xs italic">
      La contraseña debe tener al menos 6 caracteres.
    </div>
  </div>
  <div class="flex items-center justify-between">
    <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
      Iniciar Sesión
    </button>
  </div>
</form>
